<div class='mt-4'>
    <div>
        <h3>Khoa hoc da xoa</h3>
        <a href="/me/stored/courses">Danh sach khoa hoc</a>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Ten khoa hoc</th>
                <th scope='col'>Trinh do</th>
                <th scope='col'>Thoi gian tao</th>
                <th scope='col'>Chuc nang</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='#' class='btn btn-link btn-restore' data-id="{{this._id}}">Khoi phuc</a>
                        <a href='#' class='btn btn-link' data-bs-toggle='modal' data-bs-target='#delete-course-modal' data-id='{{this._id}}'>Xoa vinh vien</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" text-align="center" class="text-center">
                        <p>Thung rac trong.</p>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{! Confirm Delete course }}
<div class='modal' tabindex='-1' id='delete-course-modal'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Confirm</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>Ban co chac muon xoa khoa hoc nay. </p>
                <p>Ban se khong the khoi phuc sau khi xoa.</p>
               
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>No</button>
                <button id="btn-delete-course" type='button' class='btn btn-primary' data-bs-dismiss='modal'>Yes</button>
            </div>
        </div>
    </div>
</div>
{{!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> --}}
    <form method='POST' name="delete-course-form"></form>
    <form method='POST' name="restore-course-form"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDelete = document.getElementById('btn-delete-course');
        var restoreBtn =$ ('.btn-restore');
        var restoreForm = document.forms['restore-course-form'];


        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            console.log(courseId);
        })

        btnDelete.onclick = function() { 
            deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
            deleteForm.submit();
        };

    // Restore course
        restoreBtn.click(function(e) {
            var courseId = $(this).data('id');
            restoreForm.action =`/courses/${courseId}/restore?_method=PATCH`;
            restoreForm.submit();
        })
        
        
        
    });
    
</script>